/* .Header {
    background-color: #2e4855c2;
    margin: 0px;
    padding: 40px;
    text-decoration: none;
} */

.Header {
    display: flex;
    justify-content: space-around;
    background-color: #2e4855c2;
    margin: 0;
    padding: 40px;
}

@media ( max-width: 768px ) { 
    .Header {
        display: flex;
        flex-direction: column;
    }
}

/* .HeaderDiv {
    display: inline-block;
    background-color: green;
    border-style: solid;
    border-color: darkgoldenrod;
} */

.HeaderContainerH1a {
    text-decoration: none;
    transition: .5s;
}

.HeaderContainerH1b {
    text-decoration: none;
    transition: .5s;
}

.HeaderContainerH1c {
    text-decoration: none;
    transition: .5s;
}

.HeaderContainerH1 h1 {
    text-decoration: none;
    cursor: pointer;
} 

.HeaderLink {
    text-decoration: none;
}

.HeaderH1 {
   font-size: 40px;
   color: rgb(238, 245, 255);
   cursor: pointer;
   transition-duration: 0.3s;
}

.HeaderH1:hover {
    color: #d3e6f0;
}
