.Header {
    background-color: #2e4855c2;
    margin: 0px;
    padding: 40px;
    text-decoration: none;
}


/* .HeaderDiv {
    display: inline-block;
    background-color: green;
    border-style: solid;
    border-color: darkgoldenrod;
} */

.HeaderContainerH1a {
    display: flex;
    align-items: flex-start;
    display: inline-block;
    margin-right: 350px;
    margin-left: 5px;
    text-decoration: none;
    transition: .5s;
}

.HeaderContainerH1b {
    display: flex;
    align-items: flex-start;
    display: inline-block;
    margin-right: 250px;
    margin-left: 50px;
    text-decoration: none;
    transition: .5s;
}

.HeaderContainerH1c {
    display: flex;
    align-items: flex-start;
    display: inline-block;
    margin-right: 0px;
    margin-left: 150px;
    text-decoration: none;
    width: 120px;
    transition: .5s;
}

.HeaderContainerH1 h1 {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.HeaderLink {
    text-decoration: none;
}

.HeaderH1 {
   font-size: 40px;
   color: rgb(238, 245, 255);
   cursor: pointer;
   transition-duration: 0.3s;
}

.HeaderH1:hover {
    color: #d3e6f0;
}
